*.o
*.in
Makefile
.deps
autom4te.cache/
aclocal.m4
bc/scan.c
bc/bc.c
bc/bc.h
bc/bc
bc/libmath.h
.gitignore
INSTALL
compile
config.h
config.log
config.status
configure
dc/dc
depcomp
doc/texi-ver.incl
doc/texinfo.tex
dumpfn.c
install-sh
lib/libbc.a
missing
stamp-h1
ylwrap
